general {
    gaps_in = {{gaps.inner}}
    gaps_out = 0,{{gaps.outer}},{{gaps.outer}},{{gaps.outer}} 
    border_size = {{border.width}}
    col.active_border = rgba({{border.active.nohasha}})
    col.inactive_border = rgba({{border.inactive.nohasha}})
}

decoration {
    # See https://wiki.hyprland.org/Configuring/Variables/ for more

    active_opacity = {{opacity.active}}
    inactive_opacity = {{opacity.inactive}}
    rounding = {{border.radius}}
    blur {
        enabled = {{"true" if blur.enabled else "false"}}
        size = {{blur.strength}}
        passes = {{blur.passes}}
        ignore_opacity = true
        new_optimizations = true
    }
    shadow {
        enabled = {{"true" if shadow.enabled else "false"}}
        range = {{shadow.spread}}
        offset = {{shadow.offset}} {{shadow.offset}}
        render_power = {{ ((4 - (shadow.blur / 5)) | int) if shadow.blur > 0 else 4 }}
        sharp = {{ "true" if shadow.blur == 0 else "false" }}
        color = rgba({{shadow.color}}, {{shadow.opacity}})
    }
}


animations {
    enabled = {{"yes" if animations.enabled else "no"}}

    # Some default animations, see https://wiki.hyprland.org/Configuring/Animations/ for more

    bezier = overshot, 0.05, 0.9, 0.1, 1.2

    animation = windows, 1, {{animations.speed}}, {{animations.style}}
    animation = windowsOut, 1, {{animations.speed}}, {{animations.style}}
    animation = border, 1, {{animations.speed}}, {{animations.style}}
    animation = fade, 1, {{animations.speed}}, {{animations.style}}
    animation = workspaces, 1, {{animations.speed}}, {{animations.style}}
}

plugin {
    hyprbars {
        bar_height = {{[padding.y, 14]|max + font.normal.size if titlebar.enabled else 0 }}
        bar_text_font = {{font.normal.family}}
        bar_text_size = {{font.normal.size-3}}
        bar_color = rgb({{border.inactive.nohash}})
        col.text = rgb({{normal.fg.nohash}})

        #bar_padding = {{border.width + (border.radius * 0.67) | int}}
        bar_padding = 0
        bar_button_padding = 10

        bar_part_of_window = true
        bar_precedence_over_border = true

        bar_title_enabled = true

        bar_text_align = center
        bar_buttons_alignment = right

        hyprbars-button = rgb({{destructive.bg.nohash}}), {{font.normal.size + 5}}, , hyprctl dispatch killactive
        hyprbars-button = rgb({{secondary.bg.adjusted(sat="-5", val="-5").nohash}}), {{font.normal.size + 5}}, , hyprctl dispatch fullscreen 0
        hyprbars-button = rgb({{secondary.bg.nohash}}), {{font.normal.size + 5}}, , hyprctl dispatch togglefloating
    }


    borders-plus-plus {
        {% if borders_plus | length == 0 %}
        add_borders = 1
        border_size_1 = 0
        {% else %}
        add_borders = {{ borders_plus | length }} # 0 - 9
        {% endif %}
        
        {% for border in borders_plus.values() %}
            # you can add up to 9 borders
            col.border_{{ loop.index }} = rgb({{ border.color.nohash }})
            
            # -1 means "default" as in the one defined in general:border_size
            border_size_{{ loop.index }} = {{ border.width }}

        {% endfor %}
        
    }


}

windowrulev2 = plugin:hyprbars:bar_color rgb({{border.active.nohash}}), focus:1
windowrulev2 = plugin:hyprbars:title_color rgb({{primary.fg.nohash}}), focus:1

{% if gaps.outer == 0 %}
windowrulev2 = bordersize 0, onworkspace:w[t1]
windowrulev2 = bordercolor rgb(2b3229), onworkspace:w[t1]
{% endif %}


{% if blur_bg %}
# layerrule = blur, waybar
# layerrule = blur, rofi
{% endif %}


exec=hyprctl setcursor "{{cursor.name}}" {{cursor.size}}
